@charset 'utf-8';
header#topNav{
	background: #e7000e;
}
header#topNav .active{
	background: #bb0c11;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#buyPage{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/buy/buy_bg.jpg) no-repeat 50% 50% / cover;
}
.buy-box{
	margin-top: 4.25rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.tmall{
	display: block;
	position: absolute;
	top: 40%;
	right: 0;
	width: 80%;
	height: auto;
}
.jd{
	display: block;
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 80%;
	height: auto;
}